name: Deploy to Amazon ECR

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: {} # 수동 실행 버튼

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x backend/gradlew
      
    - name: Build with Gradle
      run: |
        cd backend
        ./gradlew clean build -x test

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      env:
        # AWS 로그인 후 자동으로 ECR Registry 주소를 가져옴
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }} # <--- 수정됨: secrets 대신 로그인 아웃풋 사용
        ECR_REPOSITORY: gitnote-repo
        IMAGE_TAG: latest
      run: |
        # 중요! backend 폴더를 기준으로 도커 빌드 (맨 뒤에 ./backend 주의!!!!!!)
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG ./backend
        
        # ECR 업로드
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
